.story-container {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;

    @media (max-width: 576px) {
        display: inline;
        grid-column:1 ;
        grid-row:1;
        }
    
}

.story-container>div {
    text-align: left;
    padding: 0px 0;
    font-size: 20px;
    min-height: 160px;
    max-width: 100%;
    transition: all .3s ease-out;
    cursor: pointer;
    
    @media (max-width: 576px) {
        margin-bottom:10px;
        }


    & a {
        display: block;
    }

    &:hover {
        box-shadow: 0 24px 48px rgba(100, 100, 100, .3);
        //transform: scale(1.05);
    }
}