$cube-green: #8aff98;

.sangoocube-background-green {
  background: $cube-green;
}

@media (min-width: 480px) {
  .container--cube {
    width: 60%;
  }
}
.cube-body {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-family: raleway;
}

.containerhighlight {
  background-color: $cube-green;
}

.containerhighlighttext {
  margin: auto;
  width: 80%;
  color: white;
}

.sangoocube-title {
  font-size: 2.5em;
  font-family: raleway;
}

.sangoocube-text {
  padding-top: 0px;
  font-size: 1.5em;
  font-family: raleway;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sangoocube-text-link {
  padding-top: 0px;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  padding: 20px;
  box-shadow: #0b262d;
}

.sangoocube-bottomtitle {
  padding-top: 0px;
  font-size: 2rem;
  text-align: center;
  color: #193b1d;
}

.sangoocube-bottomtext {
  font-size: 1em;
  color: #b9b3b3;
}

.sangoocube-bottomtextsub {
  font-size: 0, 5em;
  text-align: center;
  color: #b9b3b3;
}

.sangoocube-white-button {
  color: $cube-green;
  padding: 1.2rem 2rem;
  background: #fff;
  display: inline-block;
  border-radius: 6px;
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.sangoocube-container-bottom {
  background: whitesmoke;
}
