<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Building change management expertise</title>
<meta property="og:title" content="Building change management expertise" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.sangoo.be" />
<meta property="og:image" content="http://www.sangoo.be/sangoopreview.jpeg" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46201071-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-46201071-2');
</script>

<!-- Webfonts -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<!-- Icons (Apple default iPhone icon 57x57px) -->
<link rel="shortcut icon" href="./images/sangoo.ico" />

<!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
